{% extends "base.html.twig" %}

{% block body %}
    <ul class="errors">
        {% for message in app.flashes('validate') %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>

    <div class="movies">
        {% for movie in movies %}
            <div class="movie">
                <div class="movie__id">{{ movie.id }}</div>
                <a href="{{ path('single_movie', {'uuid': movie.id}) }}" class="movie__title">{{ movie.name }}</a>
                <div class="movie__duration">Duration: {{ movie.getDuration().format('%H:%I') }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}