{% extends "base.html.twig" %}

{% block body %}
    <div class="movies">
        {% for movie in movies %}
            <div class="movie">
                <div class="movie__id">{{ movie.id }}</div>
                <div class="movie__title">{{ movie.name }}</div>
                <div class="movie__duration">Duration: {{ movie.getDuration().format('%H:%I') }}</div>
                {% if movie.sessions is not empty %}
                    <ul class="movie__sessions">
                        {% for session in movie.sessions %}
                            <li>
                                {{ session.id }}<br>
                                <i>Total tickets:</i> {{ session.getAmountRemainingTickets() }}/{{ session.totalTickets }}<br>
                                <i>Date:</i> {{ session.date.format('Y-m-d') }}<br>
                                <i>Session time:</i> {{ session.getSessionStart().format('H:i') }} - {{ session.getSessionEnd().format('H:i') }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}