{% extends "base.html.twig" %}

{% block body %}
    {{ session.id }}<br>
    <i>Remaining total tickets:</i> {{ session.getAmountRemainingTickets() }}/{{ session.getTotalTickets }}<br>
    <i>Date:</i> {{ session.date.format('Y-m-d') }}<br>
    <i>Session time:</i> {{ session.getSessionStart().format('H:i') }} - {{ session.getSessionEnd().format('H:i') }}
    {% if session.tickets is not empty %}
        <ul>
            {% for ticket in session.tickets %}
                <li>{{ ticket.id }} | {{ ticket.client.name }} | {{ ticket.client.getPhoneNumber }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{{ path('booking') }}" method="POST">
        <input type="hidden" name="session_id" value="{{ session.id }}">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="phone_number" placeholder="Phone number"><br>
        <button type="submit">Booking</button>
    </form>
{% endblock %}